.evaluation-section {
    text-align: center;
    padding: 2em;
    background: #E3E5EA;
}

.result-container {
    display: block;
    background: white;
    padding: 1em 2em;
}

.result-header {
    display: flex;
}

.result-header h2 {
    font-weight: 800;
    text-align: left;
    padding: 1em;
    width: 100%;
}

.box-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.result-box {
    flex: 1;
    /* height: 110em; /*검은색 선 박스 높이*/
    display: grid;
    gap: 1em;
    grid-template-rows: auto 1fr;
    background: #FFFFFF;
    padding: 1.5em 1em;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.molecule-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5em;
    grid-template-rows: minmax(13em, auto);
    align-items: start;
}

.molecule-image {
    background: #6d6d6d;
    height: 100%;
    margin-left: 1.5em;
    align-items: center;
}

.molecule-image img {
    width: 100%;
    height: 100%;
    min-width: 20em;
}

.molecule-smiles {
    margin: 1em 3em;
    justify-self: start;
    text-align: left;
}

.smiles {
    font-size: 1.2em;
}

ul {
  list-style: none;
}

.molecule-contents {
    background: #D9DBE2;
    border-radius: 15px;
    padding: 0 0.5em;
    /* height: 100% */
}

.molecule-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    /* max-height: 95em; /*카드들 높이*/
}

.card {
    width: 50%; /*쪼개기*/
    padding: 15px 10px;
    box-sizing: border-box;
}

.property-card {
    display: block;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 13px;
    padding: 1em;
}


.card-title {
    padding: 0 0.2em;
    color: #006BA7;
    font-size: 1.2em;
}

.subtitle {
    color: #e4bad4;
    font-weight: bold;
}

.card-content {
    display: grid;
    grid-template-columns: 47% 11% 11% 13% 10%;
    align-items: center;
    padding: 0.25em 2em;
    gap: 1em;
    text-align: left;
    font-size: 1.1em;
}

.color-indicator {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    justify-self: right;
    margin-right: 1.6em;
}

@media (max-width: 768px) {
    .molecule-title {
        grid-template-columns: 1fr; /* 화면이 작을 때 이미지와 SMILES 정보를 세로로 배열 */
        gap: 1em;
    }

    .molecule-image,
    .molecule-smiles {
        margin-left: 0;
        margin-right: 0;
        text-align: center; /* 화면이 작을 때 중앙 정렬 */
    }

    .molecule-contents {
        width: 100%; /* 너비를 부모 컨테이너에 맞춤 */
        padding: 0 1em; /* 좌우 패딩 조정 */
    }

    .card {
        width: 100%; /* 카드를 전체 너비로 확장 */
    }
}
