.evaluation-section {
    text-align: center;
    padding: 2em;
    background: #E3E5EA;
}

.result-container {
    display: block;
    background: white;
    padding: 1em 2em;
}

.result-header {
    display: flex;
}

.result-header h2 {
    font-weight: 800;
    text-align: left;
    padding: 1em;
    width: 100%;
}

.box-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.result-box {
    flex: 1;
    height: 110em; /*검은색 선 박스 높이*/
    display: grid;
    gap: 1em;
    grid-template-rows: auto 1fr;
    background: #FFFFFF;
    padding: 1.5em 1em;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.molecule-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5em;
    grid-template-rows: minmax(13em, auto);
    align-items: start;
}

.molecule-image {
    background: #6d6d6d;
    height: 100%;
    margin-left: 1.5em;
    align-items: center;
}

.molecule-image img {
    width: 100%;
    height: 100%;
    min-width: 20em;
}

.molecule-smiles {
    margin: 1em 3em;
    justify-self: start;
    text-align: left;
}

.smiles {
    font-size: 1.2em;
}

ul {
  list-style: none;
}

.molecule-contents {
    background: #D9DBE2;
    border-radius: 15px;
    padding: 0 0.5em;
    height: 100%
}

.molecule-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    max-height: 95em; /*카드들 높이*/
}

.card {
    width: 33.3%; /*쪼개기*/
    padding: 20px 10px 0;
    box-sizing: border-box;
}

.property-card {
    display: block;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 13px;
    padding: 1em;
}

.card-title {
    padding: 0 0.2em;
    color: #006BA7;
    font-size: 1.2em;
}

.card-content {
    display: grid;
    grid-template-columns: 70% 20% 10%;
    align-items: center;
    padding: 0.25em 2em;
    gap: 1em;
    text-align: left;
    font-size: 1.1em;
}

.color-indicator {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    justify-self: right;
    margin-right: 1.6em;
}