#info-section {
    position: relative;
    text-align: center;
    padding: 4em 7em;
}

.container {
    display: block;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5em;
    margin: 1em;
}

.A {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 4em;
}

.box {
    padding: 2em 3em;
    background-color: #F3F3F4;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
}

.box-header {
    display: flex;
    align-items: center;

}

.box-header i {
    margin-right: 1em;
}

.box-header h2 {
    padding: 0.5em 1em;
    font-size: 1.2em;
    margin: 0;
}

.card.cardA {
    margin-right: 15em;
}

.diagram {
    position: relative;
    right: 0;
    margin: 0 2em;
}