/* 기본 버튼 스타일 */
.button {
    border: solid transparent;
    border-radius: 8px;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1em;
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
}

/* -------------------------------------------------------------------- */
/* example-home : home.html의 example-home 스타일 */
.example-home {
    margin: 1em 0 1em 0;
    background-color: #2c3b73;
    color: white;
}

.example-home:hover {
    background-color: #3d4f91;
}

.example-home:active {
    background-color: white;
    color: #2c3b73;
    border: solid #2c3b73;
}

/* -------------------------------------------------------------------- */
/* example-analyze : analyze.html과 screening.html의 example-analyze 스타일  */
.example-analyze {
    background-color: #dddde4;
    color: #787a87;
}

.example-analyze:hover {
    background-color: #dddde4;
}

.example-analyze:active {
    background-color: white;
    color: #787a87;
    border: solid #9b9ba3;
}

/* -------------------------------------------------------------------- */
/* analyze : analyze.html과 home.html의 analyze 스타일 */
.analyze {
    margin: 1em 0 1em 1em;
    background-color: #091F44;
    color: white;
}

.analyze:hover {
    background-color: #072235;
}

.analyze:active {
    background-color: white;
    color: #091F44;
    border: solid #091F44;
}

/* -------------------------------------------------------------------- */
/* result : screening.html의 Analyze ADMET 버튼 스타일 */
.result {
    margin: 2em 0 1em 1em;
    background-color: #a05e74;
    color: white;
    height: 3em;
}


.result:hover {
    background-color: #a05e74;
}

.result:active {
    background-color: white;
    color: #a05e74;
    border: solid #a05e74;
}

/* -------------------------------------------------------------------- */
/* convert : analyze.html과 screening.html의 convert to smiles 버튼 스타일 */
.convert {
    background-color: #6b7092;
    color: white;
}

.convert:hover {
    background-color: #6b7392;
}

.convert:active {
    background-color: white;
    color: #6b7392;
    border: solid #6b7392;
}

/* -------------------------------------------------------------------- */
/*csv : evaluation.html의 download as csv 버튼 스타일 */
.csv {
    background-color: #091F44;
    height: 3em;
    width: 12em;
    color: white;
    margin: 0;
}

.csv:hover {
    background-color: #091F44;
}

.csv:active {
    background-color: white;
    color: #091F44;
    border: solid #091F44;
}

/* -------------------------------------------------------------------- */
/*pdf : evaluation.html의 download as pdf 버튼 스타일 */
.pdf {
    background-color: #091F44;
    height: 3em;
    width: 12em;
    color: white;
    margin: 0;
}

.pdf:hover {
    background-color: #091F44;
}

.pdf:active {
    background-color: white;
    color: #091F44;
    border: solid #091F44;
}

/* -------------------------------------------------------------------- */
/*download-txt : evaluation.html, result.html의 download txt 버튼 스타일 */
.download-txt {
    background-color: #dddde4;
    height: 3em;
    width: 9em;
    color: #787a87;
    margin: 0;
}

.download-txt:hover {
    background-color: #dddde4;
}

.download-txt:active {
    background-color: white;
    color: #787a87;
    border: solid #dddde4;
}

/* -------------------------------------------------------------------- */
/* download-result: result.html의 Download Results (csv) 버튼 스타일 */
.download-result {
    background-color: #091F44;
    height: 3em;
    width: 15em;
    color: white;
    margin-right: 1.1em;
}

.download-result:hover {
    background-color: #072235;
}

.download-result:active {
    background-color: white;
    color: #091F44;
    border: solid #091F44;
}

/* -------------------------------------------------------------------- */
/* page : result.html의 pagination 버튼 스타일 */
.page {
    background-color: #ceced9;
    height: 1em;
    width: 1em;
    color: #787a87;
    margin: 0;
    font-size: 12px;
}

.page:hover {
    background-color: #ceced9;
}

.page:active {
    background-color: white;
    color: #787a87;
    border: solid #ceced9;
}

/* -------------------------------------------------------------------- */
/* page-pre : result.html의 pagination 버튼 스타일 */
.page-pre {
    background-color: #ceced9;
    height: 1em;
    width: 4em;
    color: white;
    margin: 0;
    font-size: 12px;
}

.page-pre:hover {
    background-color: #ceced9;
}

.page-pre:active {
    background-color: white;
    color: #787a87;
    border: solid #ceced9;
}

/* -------------------------------------------------------------------- */
/* page-next : result.html의 pagination 버튼 스타일 */
.page-next {
    background-color: #ceced9;
    height: 1em;
    width: 2em;
    color: white;
    margin: 0;
    font-size: 12px;
}

.page-next:hover {
    background-color: #ceced9;
}

.page-next:active {
    background-color: white;
    color: #787a87;
    border: solid #ceced9;
}

/* -------------------------------------------------------------------- */
/* detail : result.html의 detail 버튼 스타일 */
.detail {
    background-color: #dddde4;
    height: 3em;
    width: 5em;
    color: #787a87;
    margin: 0;
}

.detail:hover {
    background-color: #dddde4;
}

.detail:active {
    background-color: white;
    color: #787a87;
    border: solid #dddde4;
}


/* -------------------------------------------------------------------- */
/* send : screening.html의 send 버튼 스타일 */
.send {
    background-color: #50546e;
    height: 3em;
    width: 5em;
    color: white;
    margin: 0;
}

.send:hover {
    background-color: #50546e;
}

.send:active {
    background-color: white;
    color: #50546e;
    border: solid #50546e;
}

/* -------------------------------------------------------------------- */
/* file : screening.html의 file (txt) 버튼 스타일 */
.file {
    background-color: #787a87;
    height: 3em;
    width: 7em;
    color: white;
    margin: 0;
}

.file:hover {
    background-color: #787a87;
}

.file:active {
    background-color: white;
    color: #787a87;
    border: solid #787a87;
}

