/* 카드

<div class="card cardA">
    <div class="card-image cardA">
        <img src="{{ card.image_path }}" alt="...">
    </div>
    <div class="card-content cardA">
        <div class="card-icon cardA">
            <i class="fas fa-user"></i>
        </div>
        <div class="card-body cardA">
            <h2>{{ card.title }}</h2>
            <h3>{{ card.description }}</h3>
        </div>
    </div>
</div>

*/

/* common ------------------------------------ */

.card {
    display: grid;
    grid-template-columns: 15em 1fr; /* 이미지와 카드 컨텐츠 나누기 */
    padding: 2em 3em;
    margin: 1em 0;
    background-color: #fafafa;
    border: solid 1px #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

/* ------------------------ */
.card-image {
    width: 12em;
    height: auto;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ------------------------ */

.card-content {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-items: flex-start;
    overflow: hidden;
}

.card-icon i {
    margin: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 1300px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card-image {
        display: none;
    }
}

/* cardA : 이미지 없는 카드 */
/* cardA ------------------------------------ */

.card.cardA {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    width: 40em;
    display: flex;
}

.card-image.cardA,
.card-image.cardA img {
    display: none;
}

/* cardB : 이미지 있는 카드, 컨텐츠 카드 */
/* cardB ------------------------------------ */

.card.cardB {
    background-color: #fff;
}








