/* Widget General Styles */
.K-Widget {
    border: none;
    background-color: #ceced9;
    transform: scale(0.9);
}

.kekule-widget-content {
  background-color: #ceced9;
}


/* Button Styles */
.K-Button {
    padding: .5em .5em;
    background-color: #ceced9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.K-Button:hover {
    background-color: white;
    color: white;
    border-color: #091F44;
}

/* Custom Icons */
.K-Icon {
    background-size: contain;
    width: 16px;
    height: 16px;
}

/* Animations */
.K-Animated {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
