
.tip-box2 .tip-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 4em;
    height: 1.6em;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #006BA7;
    font-size: 1em;
}


.tip-box2 .tip-content {
    color: #000;
    text-align: left;
    font-weight: 300;
}




