/* Intro Section Styles */

#intro-section {
    display: flex;
    position: relative;
    text-align: center;
    padding: 3em 8em;
    background: #7E8DB1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
}

.intro-content {
    margin-right: auto;
    max-width: 50em;
    text-align: left;
}

.intro-content .title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.intro-content hr{
    border: 0.5px solid white;
    margin: 1em 0;

}

.step-container {
    display: inline-flex;
}

.step {
    display: block;
    width: 7em;
    height: 7em;
    background-color: #566486;
    border: none;
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
    margin-right: 0.7em;
    overflow: hidden;
}

.step i {
    margin-top: 0.2em;
    margin-bottom: 0;
    color: white;
    font-size: 1.8em;
}

.step h2 {
    margin-top: 0.5em;
    margin-bottom: 0;
    max-width: 100%;
}

.step h4 {
    margin-top: 0.2em;
    margin-bottom: 1em;
    max-width: 100%;
    word-wrap: break-word;
    font-weight: 300;
}

.line {
    background: #27375C;
    width: 100%;
    height: 0.5em;
}
