.molecules-box {
    display: block;
    background: white;
    padding: 1em 2em 2em 2em;
    margin-top: 2.5em;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    gap: 0.5em;
}

.molecules-header {
    display: grid;
    grid-template-columns: 80% 20%;
    flex-direction: column;
    align-items: center;
}

.molecules-header h2 {
    display: flex;
    font-weight: 800;
    text-align: left;
    padding: 1em;
}

.molecules-header p {
    color: #3D5FB7;
    margin-right: 0.5em;
    font-size: 1.2em;
}
