<!--documentation 페이지입니다.-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

<!--(documentation.html) Title-->
{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--icon              --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!--base (base.css)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<!--asset (button.css)    --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/button.css') }}">
<!--asset (card.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/card.css') }}">
<!--documentation (intro.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/documentation/documentation_intro.css') }}">
<!--documentation (information.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/documentation/documentation_information.css') }}">
{% endblock %}

<!--documentation (main)-->
{% block main %}
<main>
    <section id="intro-section">
        <img class="background" src="public/bg.svg" alt="BG SVG">
        <div class="intro-content">
            <h1 class="white title">Documentation</h1>
            <h3 class="white subtitle">blalbla</h3>
        </div>
    </section>

    <section id="info-section">

    </section>

</main>
{% endblock %}
