<!--홈 페이지입니다.-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

<!--(home.html) Title-->
{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--icon              --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!--base (base.css)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<!--asset (button.css)    --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/button.css') }}">
<!--asset (card.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/card.css') }}">
<!--home (intro.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home_intro.css') }}">
<!--home (counting line.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home_counting_line.css') }}">
<!--home (information.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home_information.css') }}">
<!--analyze script --> <script src="static/js/analyze/analyze_listener.js"></script>
<!--counting ainmation script --> <script src="static/js/home/counting_animation.js"></script>
<!--counting ainmation script --> <script src="static/js/home/load_to_service.js"></script>
{% endblock %}

<!--home (main)-->
{% block main %}
<main>
    <section id="intro-section">
        <img class="background">
        <img class="image" src="static/resources/home_01.svg" alt="BG SVG">
        <img class="image" src="static/resources/home_02.svg" alt="BG SVG">
        <img class="image human" src="static/resources/home_05.svg" alt="BG SVG">
        <div class="intro-content">
            <h1 class="white title">ADMET LAB</h1>
            <h3 class="white subtitle">This tool supports researchers in identifying and optimizing potential risk factors by predicting the absorption, distribution, metabolism, excretion, and toxicity (ADMET) profiles of drug candidate substances. It offers a user-friendly interface, enabling scientists to easily predict the bioavailability, safety, and efficacy of drugs. Additionally, the tool is equipped with advanced algorithms and simulation tools necessary for analyzing complex pharmacokinetics and pharmacodynamics data, thereby accelerating the drug development process and reducing costs.</h3>
            <hr>
            <div class="input">
                <input id="smilesInput" class="smilesInput" placeholder="Enter SMILES (e.g., C1=CC=CC=C1O)" type="text">
            </div>
            <div>
                <button id="exampleButton" class="button example-home">Example</button>
                <button id="analyzeButton" class="button analyze">Analyze</button>
            </div>
        </div>
    </section>

    <section>
        <div class="line"></div>
        <div class="section-box">
            <div class="counting-box">
                <div><p class="line-text counting1">80</p></div>
                <div><p class="line-text">properties</p></div>
            </div>
            <div class="counting-box">
                <div><p class="line-text counting2">100</p></div>
                <div><p class="line-text">properties</p></div>
            </div>
            <div class="counting-box">
                <div><p class="line-text counting3">200</p></div>
                <div><p class="line-text">properties</p></div>
            </div>

        </div>
    </section>

    <section id="info-section">
        <div class="container A">
            {% for card in cards[0:1] %}
            <div class="card cardA">
                <div class="card-image cardA">
                    <img src="{{ card.image_path }}" alt="ADMET Diagram">
                </div>
                <div class="card-content cardA">
                    <!--
                    <div class="card-icon cardA">
                        <i class="{{ card.icon }}"></i>
                    </div>-->
                    <div class="card-body cardA">
                        <h2>{{ card.title }}</h2>
                        <h3>{{ card.description }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}

            <button class="goto manual">
                <div class="gotoBox imageBox">
                    <img src="static/resources/service_manual.png" alt="BG SVG">
                </div>
                <div class="gotoBox">
                    <div><h1 class="white">Service Manual</h1></div>
                    <div><h3 class="white">Service Manual discription</h3></div>
                </div>
            </button>
            <button class="goto screening">
                <div class="gotoBox imageBox">
                    <img src="static/resources/screening.png" alt="BG SVG">
                </div>
                <div class="gotoBox">
                    <div><h1 class="white">Start Analysis</h1></div>
                    <div><h3 class="white">Screening discription</h3></div>
                </div>
            </button>
        </div>
        <div class="container B">
            <div class="box">
                <div class="box-header">
                    <!--<i class="fas fa-user"></i>-->
                    <h2>Advanced ADMET Analysis System</h2>
                </div>
                {% for card in cards[1:] %}
                <div class="card cardB">
                    <div class="card-image cardB">
                        <img src="{{ card.image_path }}" alt="ADMET Diagram">
                    </div>
                    <div class="card-content cardB">
                        <div class="card-icon cardB">
                            <i class="{{ card.icon }}"></i>
                        </div>
                        <div class="card-body cardB">
                            <h2>{{ card.title }}</h2>
                            <h3>{{ card.description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
