<!--reference 페이지입니다.-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

<!--(reference.html) Title-->
{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--icon              --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!--base (base.css)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<!--asset (button.css)    --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/button.css') }}">
<!--asset (card.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/card.css') }}">
<!--reference (intro.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/reference/reference_intro.css') }}">
<!--reference (information.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/reference/reference_information.css') }}">
{% endblock %}

<!--reference (main)-->
{% block main %}
<main>
    <section id="intro-section">
        <img class="background" src="public/bg.svg" alt="BG SVG">
        <div class="intro-content">
            <h1 class="white title">Reference</h1>
            <h3 class="white subtitle">This tool supports researchers in identifying and optimizing potential risk factors by predicting the absorption, distribution, metabolism, excretion, and toxicity (ADMET) profiles of drug candidate substances. It offers a user-friendly interface, enabling scientists to easily predict the bioavailability, safety, and efficacy of drugs. Additionally, the tool is equipped with advanced algorithms and simulation tools necessary for analyzing complex pharmacokinetics and pharmacodynamics data, thereby accelerating the drug development process and reducing costs.</h3>
        </div>
    </section>

    <section id="info-section">

    </section>

</main>
{% endblock %}
