<!--header와 footer 템플릿입니다. 모든 페이지가 root.html를 상속받습니다.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--base (base.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/root.css') }}">
    <!--(google font)  --> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!--asset (loading)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/loading.css') }}">
    <title>{% block title %}기본 제목{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <nav>
        <a class="logo" href="/">ADMET LAB</a>
        <ul class="menu">
            <li class="dropdown"><a href="/introduce">About</a>
                <div class="dropdown-content">
                    <a href="/introduce">Intorduce</a>
                    <a href="/service_manual">Service Manual</a>
                    <a href="/documentation">Documentation</a>
                </div>
            </li>
            <li class="dropdown"><a href="/analyze">Service</a>
                <div class="dropdown-content">
                    <a href="/analyze">Analyze</a>
                    <a href="/screening">Screening</a>
                </div>
            </li>
            <li class="dropdown"><a href="/reference">Reference</a>
                <div class="dropdown-content">
                    <a href="/reference">Reference</a>
                    <a href="/ssbio_lab">ssbio Lab</a>
                </div>
            </li>
            <li class="dropdown"><a href="/api_manual">API</a>
                <div class="dropdown-content">
                    <a href="/api_manual">API Manual</a>
                </div>
            </li>
        </ul>
        <ul class="signup">
            <li class="dropdown"><a href="/signup">Sign up</a></li>
        </ul>
    </nav>

    <main>
        <!--로딩 아이콘-->
        <div id="loadingOverlay" style="display: none;">
            <div>
                <h2 class="white text">Please wait for the Evaluation.</h2>
                <div class="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    {% block main %}
    {% endblock %}
    </main>

    {% block contents %}
    <div>

    </div>
    {% endblock %}

    <footer>
        <div class="footer-content">
            <div class="about-section">
                <h3 class="white">About</h3>
                <p>This tool supports researchers in identifying and optimizing potential risk factors by predicting the absorption, distribution, metabolism, excretion, and toxicity (ADMET) profiles of drug candidate substances. It offers a user-friendly interface, enabling scientists to easily predict the bioavailability, safety, and efficacy of drugs.</p>
            </div>
            <div class="lab-info">
                <h3 class="white">Dokyun Lab</h3>
                <p>Department of Biomedical Engineering</p>
                <p>School of integrative engineering Chung-Ang University</p>
                <p>84 Heukseok-ro, Dongjak-gu, Seoul, Republic of Korea</p>
            </div>
            <div class="contact-info">
                <h3 class="white">Contact Us</h3>
                <p>Homepage : <a href="http://ssbio.cau.ac.kr" target="_blank" style="color: white; text-decoration: none;">http://ssbio.cau.ac.kr</a></p>
                <p>Email : blisszen@cau.ac.kr</p>
            </div>
        </div>
    </footer>

</body>
</html>
