<!--스마일스 여러개 분석(입력 페이지)-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--icon              --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!--base (base)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<!--asset (button)    --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/button.css') }}">
<!--asset (tip)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/tip.css') }}">
<!--screening (intro)   --> <link rel="stylesheet" href="{{ url_for('static', filename='css/screening/screening_intro.css') }}">
<!--screening (screening_contents)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/screening/screening_contents.css') }}">
<!--screening (screening_smiles)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/screening/screening_smiles.css') }}">
<!--analze (kekule)   --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/kekule.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/kekule/dist/themes/default/kekule.css" />
<script src="https://cdn.jsdelivr.net/npm/kekule/dist/kekule.js?modules=chemWidget,algorithm"></script>
<script src="static/js/script.js"></script>
<script src="static/js/screening/upload_file.js"></script>

{% endblock %}

<!--home (main)-->
{% block main %}
<main>
    <section id="intro-section">
        <div class="intro-content">
            <h1 class="white title">Analyze ADMET</h1>
            <h3 class="white subtitle">This tool supports researchers in identifying and optimizing potential risk factors by predicting the absorption, distribution, metabolism, excretion, and toxicity (ADMET) profiles of drug candidate substances. It offers a user-friendly interface, enabling scientists to easily predict the bioavailability, safety, and efficacy of drugs. Additionally, the tool is equipped with advanced algorithms and simulation tools </h3>
            <hr>
            {% for step in steps %}
            <div class="step-container">
                <div class="step">
                    <i class="fas fa-user"></i>
                    <h2 class="white">{{ step.title }}</h2>
                    <h4 class="white">{{ step.description }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tip-box">
            <div class="tip-header">
                <i class="fas fa-lightbulb"></i>
                <span>Tips</span>
            </div>
            <p class="tip-content white">This tool supports researchers in identifying and...</p>
        </div>
    </section>

    <div class="line"></div>

    <section>
    <div class="analyze-section">
        <div class="analyze-box">
            <div class="analyze-header">
                <h2>Add SMILES Cards</h2>
            </div>
            <div class="input-and-controls">
                <div id="editor" style="width: 500px; height: 500px;"></div>
                <div class="input">
                    <div class="convert-button">
                        <button id="convertToSmiles" class="button convert">Convert to SMILES</button>
                    </div>
                    <script>
                        var editor = new Kekule.Editor.Composer(document.getElementById('editor'));
                        document.getElementById('convertToSmiles').addEventListener('click', function() {
                            var chemObj = editor.getChemObj();
                            var smiles = Kekule.IO.saveFormatData(chemObj, 'smi');
                            document.getElementById('smilesInput').value = smiles;
                            if (!smiles) {
                                alert("No structure to convert. Please draw a molecule first.");
                            }
                        });
                    </script>
                    <textarea id="smilesInput" class="smilesInput" placeholder="Enter SMILES (e.g., C1=CC=CC=C1O)"></textarea>
                    <div class="buttons">
                        <div class="button1">
                            <button id="exampleButton" class="button example2">Example</button>
                        </div>
                        <div id="fileNameDisplay"></div>
                        <div class="button2">
                            <button class="button file">File (txt)</button>
                            <input type="file" id="hiddenFileInput" accept=".txt" style="display: none;">
                        </div>

                        <script>
                        document.querySelector('.button.file').addEventListener('click', function() {
                            document.getElementById('hiddenFileInput').click();
                        });

                        document.getElementById('hiddenFileInput').addEventListener('change', function(event) {
                            const file = event.target.files[0];
                            if (!file) { return; }
                            const reader = new FileReader();
                            reader.onload = function(event) {
                                const content = event.target.result;
                                document.getElementById('smilesInput').value = content;
                            };
                            reader.readAsText(file);
                            document.getElementById('fileNameDisplay').textContent = `Selected file: ${file.name}`;
                        });
                        </script>

                        <div class="button3">
                            <button class="button">Add smiles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="smiles-box">
            <div class="smiles-header">
                <div><h2>Select Smiles Cards</h2></div>
                <div><button class="button result">Analyze ADMET</button></div>
            </div>
        <!--
            <hr>
            <div class="smiles-contents">
                <div class="left">
                    <div class="available-smiles">
                        <div class="title">
                            <h2>Available SMILES Cards</h2>
                        </div>
                        <ul class="card-box">
                            {% for cardA in cardsA %}
                            <li class="card">
                                <div class="smiles-card">
                                    <div class="smiles-image">{{ cardA.img }}</div>
                                    <div class="card-contents">
                                        <h4>smiles</h4>
                                        <h4>{{ cardA.smiles }}</h4>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="invalid-smiles">
                        <div class="title">
                            <div><h2>Invalid SMILES Cards</h2></div>
                            <div><button class="button">Download as txt</button></div>
                        </div>
                        <ul class="card-box">
                            {% for cardB in cardsI %}
                            <li class="card">
                                <div class="smiles-card">
                                    <div class="smiles-image">{{ cardB.img }}</div>
                                    <div class="card-contents">
                                        <h4>smiles</h4>
                                        <h4>{{ cardB.smiles }}</h4>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tip-box2">
                        <div class="tip-header">
                            <i class="fas fa-lightbulb"></i>
                            <h4>Tips</h4>
                        </div>
                        <p class="tip-content white">This tool supports researchers in identifying and This tool supports researchers in identifying and This tool supports researchers in identifying and...</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    </section>
</main>
{% endblock %}
