<!--sign up 입력 페이지-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

<!--(home.html) Title-->
{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--base (base)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<link rel="stylesheet" href="static/css/signup/signup.css">

{% endblock %}

<!--home (main)-->
{% block main %}
<main>
    <section id="signup-section">
        <div class="signup-container">
            <div class="image-box">
                <h2 class="white text">Welcome to ADMET LAB</h2>
                <h4>회원가입창/로그인창, 회원가입 경우 screening 기능을 사용할 수 있습니다</h4>
                <!-- <div class="signup-image">
                    <img src="path-to-your-image.jpg" alt="Signup Image">
                </div>-->
            </div>
            <div class="signup-box">
                <div class="signup-form">
                    <h2>Sign Up</h2>
                    <form id="signup-form" method="post" action="your-server-endpoint">
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}