<!--ssbio_lab 페이지입니다.-->

<!--extends (root.html) for base-->
{% extends 'root.html' %}

<!--(ssbio_lab.html) Title-->
{% block title %}ADMET Lab{% endblock %}

<!--(style) and (js codes)-->
{% block script %}
<!--icon              --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!--base (base.css)       --> <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
<!--asset (button.css)    --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/button.css') }}">
<!--asset (card.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/asset/card.css') }}">
<!--ssbio_lab (intro.css)      --> <link rel="stylesheet" href="{{ url_for('static', filename='css/ssbio_lab/ssbio_lab_intro.css') }}">
<!--ssbio_lab (information.css)--> <link rel="stylesheet" href="{{ url_for('static', filename='css/ssbio_lab/ssbio_lab_information.css') }}">
{% endblock %}

<!--ssbio_lab (main)-->
{% block main %}
<main>
    <section id="intro-section">
        <img class="background" src="public/bg.svg" alt="BG SVG">
        <div class="intro-content">
            <h1 class="white title">ssbio Lab</h1>
            <h3 class="white subtitle">The aim of our research is to decipher the underlying mechanisms of complex systems of living organisms and to utilize those systems to create novel synthetic systems to facilitate the advance of biotechnology.
                In order to unveil the mysteries of complex biological systems, we develop computational models, algorithms, and methodologies to decipher massive data acquired through high-throughput technologies in aid of a variety of integrated databases. Based on the unveiled mysteries, we develop synthetic biological components (RNA, DNA, proteins) and systems (genetic, protein, and metabolic networks) to create novel living organisms to be capable of performing any tasks we program: sustainable biomolecular production, environmental remediation, novel biotechnological methodologies, etc.
                We are working in diverse fields including synthetic biology, systems biology, computational biology, bioinformatics, neuroscience, metabolic engineering, chemical engineering, and so on.
</h3>
        </div>
    </section>

    <section id="info-section">

    </section>

</main>
{% endblock %}
